fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy[asyncio]
asyncpg
alembic
structlog
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
redis
celery
pgvector
pydantic[email]
python-multipart
openai
slowapi
pytest
pytest-asyncio
httpx
aiosqlite
ipdb
pytest-cov
minio
pymupdf
sentry-sdk[fastapi]
resend
weasyprint
